header {
  background: rgb(135, 135, 247);
}
body {
  margin-left: 3em;
  margin-right: 3em;
}
h1 {
  color: lightgray;
}
li {
  list-style-type: none;
}
a {
  color: #3580d9;
}

.cowspoke {
  font: monospace;
  border: 2px dashed black;
}
